/CounrtriesRateServer/bin/Debug/netcoreapp3.1/appsettings.Development.json
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CounrtriesRateServer/bin/Debug/netcoreapp3.1/appsettings.json
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.AssemblyInfoInputs.cache
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.assets.cache
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.csproj.CopyComplete
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.csproj.CoreCompileInputs.cache
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.csproj.FileListAbsolute.txt
/CounrtriesRateServer/obj/CounrtriesRateServer.csproj.nuget.dgspec.json
/CounrtriesRateServer/obj/CounrtriesRateServer.csproj.nuget.g.props
/CounrtriesRateServer/obj/CounrtriesRateServer.csproj.nuget.g.targets
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.csprojAssemblyReference.cache
/CounrtriesRateServer/bin/Debug/netcoreapp3.1/CounrtriesRateServer.deps.json
/CounrtriesRateServer/bin/Debug/netcoreapp3.1/CounrtriesRateServer.dll
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.dll
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.genruntimeconfig.cache
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.MvcApplicationPartsAssemblyInfo.cache
/CounrtriesRateServer/bin/Debug/netcoreapp3.1/CounrtriesRateServer.pdb
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.pdb
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/CounrtriesRateServer.RazorTargetAssemblyInfo.cache
/CounrtriesRateServer/bin/Debug/netcoreapp3.1/CounrtriesRateServer.runtimeconfig.dev.json
/CounrtriesRateServer/bin/Debug/netcoreapp3.1/CounrtriesRateServer.runtimeconfig.json
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/staticwebassets/CounrtriesRateServer.StaticWebAssets.Manifest.cache
/CounrtriesRateServer/obj/Debug/netcoreapp3.1/staticwebassets/CounrtriesRateServer.StaticWebAssets.xml
/.idea/.idea.CounrtriesRateServer/.idea/encodings.xml
/global.json
/.idea/.idea.CounrtriesRateServer/.idea/indexLayout.xml
/CounrtriesRateServer/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/CounrtriesRateServer/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/CounrtriesRateServer/obj/project.assets.json
/CounrtriesRateServer/obj/project.nuget.cache
/CounrtriesRateServer/obj/project.packagespec.json
/CounrtriesRateServer/obj/rider.project.restore.info
/.idea/.idea.CounrtriesRateServer/.idea/riderModule.iml
/.idea/.idea.CounrtriesRateServer/.idea/vcs.xml
*.exe
*.cs
*.cache
*.editorconfig
